/* --- LAYOUT --- */
body {
    text-align: center;
}

main, 
.create-playlist-section {
    display: flex;
    flex-direction: column;
}

main button,
.create-playlist-section input {
    width: auto;
    margin: 1em auto;
}

#search-results {
    text-align: left;
    width: fit-content;
    margin: auto;
}

#search-results li {
    margin: 0.5em auto;
    list-style: none;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

/* --- TYPOGRAPHY --- */

/* --- UTILITY CLASSES --- */
.hidden {
    display: none;
}

